:root {
    --danger: #e94949;
    --primary: #5393c9;
    --extra-extra-light: #F5F8FA;
    --extra-light: #E1E8ED;
    --light: #AAB8C2;
    --dark: #657786;
    --black: #14171A;
    --pure-black: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: var(--black);
    color: var(--extra-extra-light);
    font-weight: 400;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
    width: 10px;
}


body::-webkit-scrollbar-track {
    background: var(--primary);
    width: 1px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 5px;
    border: 1px solid var(--primary);
}

.container {
    padding: 0 50px;
    margin: 0 auto;
    max-width: 1440px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    border: none;
    background-color: var(--light);
    color: var(--black);
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
    font-weight: 500;
    letter-spacing: 1px;
    box-shadow: 5px 5px 15px 0 var(--pure-black);
}

input {
    outline: none;
    border: none;
    opacity: 75%;
    padding: 5px 10px;
    transition: .3s;
    font-size: 1rem;
}

input:hover,
input:focus {
    outline: none;
    border: none;
    opacity: 1;
}


.btn:hover {
    opacity: 75%;
}

.btn:active {
    outline: none;
    border: none;
    opacity: 50%;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--extra-extra-light);
}

.btn-danger {
    background-color: var(--danger);
    color: var(--extra-extra-light);
}

.btn-white {
    background-color: var(--extra-extra-light);
    color: var(--black);
}

.btn-info {
    background-color: var(--info);
    color: var(--black);
}

a {
    text-decoration: none;
    color: var(--extra-extra-light);
    user-select: none;
}

.blink {
    animation-name: opacity;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: calc(var(--order) * 100ms);
}

.wave {
    height: 185px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.layer-1 {
    background-repeat: no-repeat;
    background-image: url('./components/img/wave1.svg');
    top: 0;
}

.layer-2 {
    bottom: 0;
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-image: url('./components/img/wave1.svg');
}

.layer-3 {
    bottom: -160px;
    background-repeat: no-repeat;
    background-image: url('./components/img/wave1.svg');
}

.d-none {
    display: none!important;
}

.best-book-view {
    margin: 100px 0;
    min-height: 80vh;
}

@keyframes opacity {
    0% {
        opacity: 90%;
    }
    50% {
        opacity: 25%;
    }
    100% {
        opacity: 90%;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
}