nav {
    width: 100%;
    /* background: var(--secondary-bg); */
    /* border-bottom: 2px solid var(--main-action); */
    height: 80px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    z-index: 2;
    position: relative;
}

nav .logo {
    font-size: 1.5rem;
    color: var(--bg-main);
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-left: 15px;
    font-size: 1.2rem;
}

nav svg {
    width: 25px;
    margin-right: 10px;
    fill: var(--white);
    transition: .3s;
}

nav li a:hover svg {
    fill: var(--primary);
}

nav ul li a:hover {
    border: 2px solid var(--white);
    background-color: var(--white);
    color: var(--primary);
}

nav li a {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid var(--white);
    transition: .3s;
    font-weight: 600;
}