.card {
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0 var(--main-action);
    text-align: center;
    transition: .3s;
}

.card:hover {
    transform: scale(1.05);
}

.card .img {
    height: 400px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--main-action);
}

.card .img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    background-color: var(--main-action);
}

.card .info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 225px;
}

.card .info h3 {
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 15px;
}

.card .blink h3 {
    height: 20px;
    border-radius: 5px;
    width: 100%;
    margin-top: 15px;
    background-color: var(--main-action);
}

.card .info .detail {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary-bg);
}

.card .info p {
    opacity: 75%;
    font-size: 0.85rem;
    color: var(--white);
}

.card .info p:nth-of-type(2) {
    max-width: 200px;
    text-align: end;
    overflow: hidden;
}

.card a {
    margin: 5px 0;
}