.genres-list  {
    padding: 50px 0;
}

.genres-list .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 30px;
    justify-content: center;
}

.genres-list .link-card {
    box-shadow: 5px 5px 15px 0 var(--pure-black);
}

.genres-list .title {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.genres-list .title input {
    min-width: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0 var(--pure-black);
}

.genres-list a,
.genres-list .load-more {
    min-height: 80px;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    text-align: center;
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--light);
    color: var(--black);
    transition: .3s;
    cursor: pointer;
}

.genres-list a:hover,
.genres-list .load-more:hover {
    opacity: 75%;
}

.genres-list a:active,
.genres-list .load-more:active {
    opacity: 50%;
}

.genres-list a h5 {
    padding: 10px;
}

.genres-list a h6 {
    font-weight: 400;
    opacity: 75%;
    padding: 0 10px 10px 10px;
}