.search-form {
    width: 100%;
    padding: 150px 0;
    display: flex;
    justify-content: center;
}

.search-form input {
    max-width: 600px;
    min-width: 50px;
    flex-grow: 1;
    height: 40px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0 15px;
    font-size: 1rem;
    opacity: 75%;
    transition: 0.3s;
}

.search-form input:hover,
.search-form input:focus {
    opacity: 1;
}

.search-form button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}